<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="google" value="notranslate" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Icon -->
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">

    <!-- Font Awesome -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

    <title>Recibos</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="container-logo">
                <a href="Index.html"><img src="~/img/logo.svg" alt="logo"></a>
                <h1>Recibos</h1>
            </div>
            <div class="container-logout">
                <a href="~/Home/Index">Salir</a>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer></footer>

    <!-- Bootstrap Javascript -->
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery.min.js"></script>

    <!-- Main Javascript -->
    <script src="~/js/main.js"></script>
</body>
</html>