@model AppRecibos.Models.Recibo
@{
    ViewData["Title"] = "Editar";
    Layout = "_Layout";
}
<div class="container-recibo">
    <div class="card-recibo">
        <div>
            <h2>Editar un recibo</h2>
            <a href="~/Recibos/Index">&times;</a>
        </div>

        <hr>

        <form method="post" action="~/Recibos/Editar">
            <input type="hidden" asp-for="Id" />

            <input type="text" placeholder="Proveedor" class="form-control" asp-for="Proveedor" required>
            <input type="number" placeholder="Monto" class="form-control" asp-for="Monto" required>
            <input type="text" placeholder="Moneda" class="form-control" asp-for="Moneda" required>
            <input type="date" class="form-control" asp-for="Fecha" required>
            <textarea placeholder="Comentario" class="form-control" rows="3" asp-for="Comentario"></textarea>

            <span class="error">@Html.ValidationSummary()</span>

            <div class="container-button">
                <input class="btn" type="submit" value="Guardar">
            </div>
        </form>
    </div>
</div>
